.box {
	display: inline-block;
	border: solid 1px gray;
	border-radius: 5px;
	margin: 10px;
}

.box {
	width: 200px;	/* default value to be overridden later */
}

.box .title {
	padding: 3px;
	border-bottom: solid 1px gray;
}

.box .content {
	padding: 3px;
}

.box .contentItem {
	margin-bottom: 5px;
}

#header {
	color: white;
	background-color: gray;
}

#header #companyName {
	padding-left: 25px;
	font-size: 200%;
	font-weight: bold;
	padding-right: 25px;
}

#header .navLink {
	color: #d0d0d0;
	font-size: 125%;
}

