.box {
	display: inline-block;
	border: solid 1px gray;
	border-radius: 5px;
	margin: 10px;
	width: 200px;	/* default value to be overridden later */
	
	/* fix cropping on borders due to title's background color */
	/* http://stackoverflow.com/questions/6312067/border-radius-background-color-cropped-border */
	overflow: hidden;	
}

.box .title {
	padding: 3px;
	border-bottom: solid 1px gray;
	font-weight: bold;
	background-color: #eeeeee;
}

.box .content {
	padding: 3px;
}

.box .contentItem {
	margin-bottom: 10px;
}

#header {
	color: white;
	background-color: gray;
}

#header #companyName {
	padding-left: 25px;
	font-size: 200%;
	font-weight: bold;
	padding-right: 25px;
}

#header .navLink {
	color: #42ABE2;
	font-size: 125%;
	background-color: white;
	padding: 3px 5px 10px 5px;
	border-radius: 5px 5px 0px 0px;
	border-bottom: solid 1px white;
}

#footer {
	border-top: solid 1px #d0d0d0;
	text-align: right;
	font-size: smaller;
	color: #d0d0d0;
	margin-top: 20px;
	padding-right: 5px;
}