.box {
	display: inline-block;
	border: solid 1px gray;
	border-radius: 5px;
	margin: 10px;
}

.title {
	padding: 3px;
}

.content {
	padding: 3px;
}

.contentItem {
	margin-bottom: 5px;
}



.login {
	width: 200px;
}

.login .title {
	border-bottom: solid 1px gray;
}

.login .content  .email,
.login .content  .password
{
	width: 100%;
}